@page "/"
<PageTitle>AdventureWorks</PageTitle>

<div class="IndexBackground">
    <div class="d-flex flex-column min-vh-100 min-vw-100" >
        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
            <h1 style="font-size: 75px;color:indigo">
                AdventureWorks
            </h1>
        </div>
    </div>
</div>